@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div>
        <h1><u>Yacht  decoration</u></h1>
    </div>
    <div class="container shadow-lg p-8">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3  booknow shadow-card">
                <h4>Yacht decoration</h4>
                <hr />
                <p>
                    Event decoration is all the little things that make up the environment your event takes place in. Decor sets the mood and helps create the right atmosphere for your guests.

                    If you’ve been stressing about event decor, we are here to help you.
                </p>
                <a href="https://www.messenger.com/"> BOOK NOW</a>
            </div>
            <div class="col-md-5 ">
                <img src="~/User/css/hinhslile2.jpg" width="600px" height="400px" alt="" />
            </div>
            <div class="col-md-2"></div>
            <div class="tour">
                <a asp-controller="event" asp-action="eventdecoration"> <img src="~/User/css/right-arrow.png" width="20px" style="transform:rotate(180deg)" /> Previous Post </a>
                <a asp-controller="event" asp-action="birthdaydecoration"> Next Postt<img src="~/User/css/right-arrow.png" width="20px" />  </a>
            </div>
        </div>
        <div></div>
    </div>
</div>