@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contactus mb-5">
    <h2>CONTACT US</h2>
</div>
<div class="row">
    <div class="col-md-6 ml-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.060360235419!2d106.71198811436068!3d10.806689092301008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529ed00409f09%3A0x11f7708a5c77d777!2zQXB0ZWNoIENvbXB1dGVyIEVkdWNhdGlvbiAtIEjhu4cgVGjhu5FuZyDEkMOgbyB04bqhbyBM4bqtcCBUcsOsbmggVmnDqm4gUXXhu5FjIHThur8gQXB0ZWNo!5e0!3m2!1svi!2s!4v1678768278700!5m2!1svi!2s" width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <div class="col-md-6 contactus-content">
        <div>
            <p>
                HÃY ĐỂ LẠI LỜI NHẮN CỦA BẠN
            </p>
        </div>
        <div>
            <h5>Name</h5>
            <input typeof="text" class="form-control form-control-lg" type="text" placeholder="Enter Your Name">
        </div>
        <div>
            <h5>Email</h5>
            <input typeof="email" class="form-control form-control-lg" type="text" placeholder="Enter Your Email">
        </div>
        <div>
            <h5>Phone Number</h5>
            <input typeof="number" class="form-control form-control-lg" type="text" placeholder="Enter Your Phone Number">
        </div>
        <div>
            <h5>Comment</h5>
            <textarea cols="70" rows="5"> </textarea><br />
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </div>
</div>
@*<div class="contactus-content">

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>

    </div>
    <div class="row">

    </div>
</div>*@
<hr />