@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
   
    <div class="col-md-12 ml-5 m-5 ">
        <h1 class="mb-5" style="color:tomato">View Category </h1>
        <div class="row">
            <form>

                <table class="table table-striped" >
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>hoa hong </td>
                        <td>
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </td>
                        <td>
                            <input type="checkbox" value="" checked />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>