@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-5" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
    <div class="col-md-12 mb-5 aboutuss">
        <h2>Shop Hoa Tươi HFlower.vn</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 aboutus ml-5">
        <h5 class="m-5">About Our Special Shop</h5>
        <p>
            We are committed to offering only the finest and most beautiful floral arrangements and gifts, backed by service that is friendly, helpful and prompt. Our professional staff are dedicated to making your experience a pleasant one because all of our customers are important to us.  We always go the extra mile to make your floral gift perfect.

            Our florists have original, creative and fun ideas about how to make any gift occasion something special for both you and the recipient, whoever they may be and for whatever purpose your gift is for. We also offer a wedding bouquet and wedding function flowers service guaranteed to please.

            Our store allow local and international visitors to order flowers online Sydney Australia.  We are also a member of Interflora, worldwide.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <iframe  width="600" height="400" src="https://www.youtube.com/embed/qEJ1Of6zRr8" title="Thể hiện khả năng tương tác qua điện thoại video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 aboutus-content">
        <h4>We Create Lovely Floral Arrangements With Only The Freshest Flowers</h4>

        <p>
            We specialise in the following services:
            Local Florist Delivery
            Tropical Flowers
            Plants and Dish Gardens
            Contemporary & Traditional Arrangements
            High-style Floral Arrangements
            Dried Floral Arrangements
            Weddings and Special Events
            Funeral and Sympathy Flowers
            Gourmet and Fruit Baskets
            Gift Baskets, Soft Toys, Balloons
            New Baby Flowers and Balloons Sydney
            Flowers and Balloons Delivery Sydney

        </p>
    </div>
</div>
<div class="row content-git m-5">
    <div>
        <h3 style="font-weight:bold" >Why Choose Aangela’s Florist?</h3>
    </div>
    <div class="col-md-4">
        <img src="~/User/css/cup.png" alt="" /><br />
        <span>Accredited Interflora Florist</span>
        <p>
            Aangela’s Florist is a proud member of the Interflora Community, being vetted and
            approved as a preferred florist.  (Interflora florists undertake a
            selection process and are evaluated in store to ensure work is of the highest standards).
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/User/css/gift-card.png" alt="" /><br />
        <span>Creative & Beautiful Floral Arrangements</span>
        <p>
            Beautiful fresh original and creative flower arrangements are our proud and joy at
            Aangela’s Florist, roses, lilies,
            natives, reds, pinks, whites, yellows, bouquets, baskets, you name it, we create it, with delight.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/User/css/road.png" alt="" /><br />
        <span>42 Years of Service to the Community</span>
        <p>
            Trusted and loved since 1976, Aangela’s Florist has been the florist of
            choice for Kogarah and the St George/Sutherland Shire areas for private & business
            customers a long time.
            We service a large area of the Sydney community with our deliveries.
        </p>
    </div>
</div>

<hr />