<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FlowerTown</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/User/css/loopple/loopple.css">
    <link rel="stylesheet" href="~/User/css/theme.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <div class="navbar bg-gradient-dark py-2" id="navbarflower">


        <div class="col-md-4">
            <div class="d-flex w-lg-50 w-100 text-lg-start text-center justify-content-lg-start justify-content-center mb-lg-0 mb-2">
                <a href="https://www.facebook.com/" style="text-decoration:none">
                    <i class="fa fa-facebook-square text-sm text-white" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/" style="text-decoration:none">
                    <i class="fa fa-twitter text-sm text-white ms-3" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/" style="text-decoration:none">
                    <i class="fa fa-instagram text-sm text-white ms-3" aria-hidden="true"></i>
                </a>



            </div>
        </div>
        <div class="col-md-4">
            <form method="get" asp-controller="home" asp-action="searchByKeyword">
                <div class="input-group ">
                    <div class="form-outline w-70">
                        <input id="search-input" type="text" name="keyword" value="@ViewBag.keyword" class="form-control" />
                    </div>
                    <input id="search-button" type="submit" class="btn btn-primary">
                    @*<i class="fas fa-search"></i>*@

                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="d-flex align-items-center ms-lg-auto w-lg-50 w-100">
                <a href="tel:0705060427" class="fa fa-phone text-sm text-white ms-auto" aria-hidden="true" style="text-decoration:none">
                    <span class="text-sm text-white ms-2">+7 0506 0427</span>
                </a>
                <a href="mailto:tranngochanh27102001@gmail.com" style="text-decoration:none">
                    <i class="fa fa-envelope text-sm text-white ms-4" aria-hidden="true"></i>
                    <span class="text-sm text-white ms-2 me-lg-0 me-auto">loopple@loopple.com</span>
                </a>
            </div>
        </div>
    </div>




    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3" id="headerflower">
        <div class="container">
            <a class="navbar-brand w-8" asp-controller="home" asp-action="index" data-config-id="brand" style="display:flex">
                <img src="~/User/css/tulip.png" width="50px" height="50px" alt="">
                <h5 style="color:tomato">HFlower</h5>
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                    <li class="nav-item mx-2">
                        <a asp-controller="account" asp-action="welcome" class="nav-link ps-2 cursor-pointer" style="font-weight:bold; color:#383D65">
                            SHOP HFLOWER
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a asp-controller="product" asp-action="birthday" class="nav-link ps-2 cursor-pointer tab-content" style="font-weight:bold; color:#383D65">
                            BIRTHDAY FLOWERS
                        </a>
                    </li>


                    <li class="nav-item mx-2">
                        <a asp-controller="product" asp-action="fresh" class="nav-link ps-2 cursor-pointer" style="font-weight:bold; color:#383D65">
                            FRESH FLOWER
                        </a>
                    
                    
                    <li class="nav-item mx-2">
                        <a asp-controller="about" asp-action="index" class="nav-link ps-2 cursor-pointer" style="font-weight:bold; color:#383D65">
                            ABOUT US
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a asp-controller="contactus" asp-action="index" class="nav-link ps-2 cursor-pointer" style="font-weight:bold; color:#383D65">
                            CONTACT US
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link ps-2 cursor-pointer" style="font-weight:bold; color:#383D65">

                            Welcome @ViewBag.username
                        </a>
                    </li>

                    <li class="nav-item mx-2">
                        <a asp-controller="account" asp-action="logout" class="nav-link ps-2 cursor-pointer" style="font-weight:bold; color:#383D65">
                            LOG OUT
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">



                    <div class="dropdown">
                        <a asp-controller="cart" asp-action="index" class="btn btn-outline-success dropdown-toggle">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        </a>

                    </div>

                </ul>
            </div>

        </div>


    </nav>
    <header class="">
        <div class="page-header ">
        </div>
        <div class="container">
        </div>
    </header>
    @RenderBody()
    <footer class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-5 mb-lg-0">
                    <h6 class="text-uppercase mb-2">Soft</h6>
                    <p class="mb-4 pb-2">
                        The next generation of design systems.
                    </p>
                    <p>
                        Không có một shop hoa nào tốt hơn để bạn lựa chọn cho
                        một dịch vụ điện hoa chuyên nghiệp như shop hoa tươi Mrkflower.com.
                        Bằng tất cả niềm đam mê và tận tâm, Mrkflower.com luôn chọn những bông hoa tươi nhất và sáng

                    </p>

                </div>
                <div class="col-md-2 col-6 ms-lg-auto mb-md-0 mb-4">
                    <h6 class="text-sm">Company</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:void(0);">
                                About Us
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                Careers
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                Press
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 col-6 mb-md-0 mb-4">
                    <h6 class="text-sm">Pages</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                Login
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                Register
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                Add list
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 col-6 mb-md-0 mb-4">
                    <h6 class="text-sm">THEO DÕI FLOWERCORNER</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="https://www.facebook.com/">
                                <span class="text-lg fab fa-facebook" aria-hidden="true"></span>
                                Facebook
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="https://twitter.com/">
                                <span class="text-lg fab fa-twitter" aria-hidden="true"></span>

                                Twitter
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="https://www.instagram.com/">
                                <span class="text-lg fab fa-instagram" aria-hidden="true"></span>
                                Instagram
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="https://youtube.com/">
                                <span class="text-lg fab fa-pinterest" aria-hidden="true"></span>
                                Youtube
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2 col-6 mb-md-0 mb-4">
                    <h6 class="text-sm">SHOP FLOWER</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                .Cửa Hàng TP HCM: 225/3 Nguyễn Đình Chiểu, Phường 5, Quận 3, TP.HCM
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                .Văn Phòng TP HCM: 412 Lê Hồng Phong, Phường 1, Quận 10, TP.HCM
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="javascript:;">
                                .Chi nhánh Hà Nội: 65 Trần Phú, Ba Đình, Hà Nội
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
            <hr class="horizontal dark mt-lg-5 mt-4 mb-sm-4 mb-1">
            <div class="row">
                <div class="col-8 mx-lg-auto text-lg-center">
                    <p class="text-sm text-secondary">
                        Copyright © 2022 Soft &amp; Loopple by Creative Tim.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <div class="loopple-badge">Made with<a href="https://www.loopple.com"><img src="https://www.loopple.com/img/loopple-logo.png" class="loopple-ml-1" style="width:55px"></a></div>
    <script src="https://loopple.s3.eu-west-3.amazonaws.com/soft-ui-design-system/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system/assets/js/soft-design-system.min.js?v=1.0.5" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/countup.min.js" type="text/javascript"></script>
    <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/flatpickr.min.js"></script>
    <script>
        if (document.getElementById("state1")) {
            const countUp = new CountUp("state1", document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
                countUp.start();
            } else {
                console.error(countUp.error);
            }
        }
        if (document.getElementById("state2")) {
            const countUp1 = new CountUp("state2", document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
                countUp1.start();
            } else {
                console.error(countUp1.error);
            }
        }
        if (document.getElementById("state3")) {
            const countUp2 = new CountUp("state3", document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
                countUp2.start();
            } else {
                console.error(countUp2.error);
            };
        }

        if (document.querySelector('.datepicker-1')) {
            flatpickr('.datepicker-1', {
            }); // flatpickr
        }

        if (document.querySelector('.datepicker-2')) {
            flatpickr('.datepicker-2', {
            }); // flatpickr
        }
    </script>
</body>
</html>